html{
	height:100%;
	width:100%;	
}

@media (min-width: 800px) {
article{
	grid-area:content;
	font-size:20px;
	line-height:28px;
}

#bio{
	margin-top:30px;
}

body{
	display:grid;
	font-family: 'Ubuntu Condensed', sans-serif;
	width:100%;
	margin:0;
	height:100%;
	grid-template-columns:1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
	  "header header header"
      "emptyl content emptyr"
      "footer footer footer";
}



 footer{
	 grid-area:footer;
	 width:100%;
	margin-top:200px;
	 background-color:#001F7E;
	 color:white;
	 font-size:20px;
 }
 
header{
	grid-area:header;
	text-align:center;
	background-color: #001F7E;
	margin-top:30px;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr 1fr 1fr;
	grid-template-areas:
	"top"
	"middle"
	"bottom";
}

#mainImage{
	width:100%;
	height:auto;
	 display: block;
}

#img-div{
	margin-top:30px;
}

#img-description{
	font-size:19px;
	color:#524f47;
}

#quote{
	 font-style: italic;
	 color:#525252;
	 font-size:18px;
}
#titleH1{
	color:white;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:50px;
	grid-area:middle;
	font-weight:bold;
}

#titleH2{
	color:white;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:20px;
	grid-area:bottom;
}

#moon{
	width:100px;
	height:auto;
}

button{
	border:none;
	background:none;
}

#darkMode{
	width:50px;
	height:50px;
	top:80%;
	position:fixed;
	
}
}



@media (max-width: 800px) {
	article{
	grid-area:content;
	font-size:18px;
	line-height:28px;
}

  #bio{
	margin-top:30px;
}

body{
	font-family: 'Ubuntu Condensed', sans-serif;
	width:100%;
	height:100%;
	margin:0;
	display:grid;
	grid-template-columns:1fr 10fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
	"header header header"
      "emptyl content emptyr"
      "footer footer footer";
 
}
footer{
	 
	 grid-area:footer;
     margin-top:200px;
	 background-color:#001F7E;
	 color:white;
	 font-size:20px;
 }

header{
	grid-area:header;
	text-align:center;
	background-color:#001F7E;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:0.5fr 1fr 1fr;
	grid-template-areas:
	"top"
	"middle"
	"bottom";
	
}

#mainImage{
	width:100%;
	height:auto;
	 display: block;
}

#img-div{
	margin-top:30px;
}

#img-description{
	font-size:15px;
	color:#524f47;
}

#quote{
	 font-style: italic;
	 color:#525252;
	 font-size:18px;
}

#titleH1{
	color:white;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:30px;
	grid-area:middle;
	
}

#titleH2{
	
	color:white;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:15px;
	grid-area:bottom;
}

#moon{
	width:50px;
	height:auto;
}

button{
	border:none;
	background:none;
}

#darkMode{
	left:-10px;
	width:50px;
	height:50px;
	top:10%;
	position:fixed;
	
}
}

	


















